---


const imageUrl = 'https://images.pexels.com/photos/547117/pexels-photo-547117.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';
---


  <div class="bg-gray-100 flex items-center pt-10 w-full justify-start h-screen">
    <div class="text-center flex w-full bg-white p-8 rounded-lg shadow-lg">
<div class="p-20">
    <h1 class="text-4xl font-bold mb-4">Bienvenido a nuestra Tienda</h1>
    <p class="text-lg mb-4">Encuentra las mejores herramientas eléctricas y manuales para tus proyectos.</p>
    <a href="/products" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Ver Productos</a>
</div>
      <div class="mt-8">
        <img src={imageUrl} alt="Herramientas" class="w-full h-96 rounded-lg" />
      </div>
    </div>
</div>

