---
---

<nav class="bg-white bg-opacity-80 fixed w-full top-0 z-50">
  <ul class="list-none flex justify-between p-4">
    <li><a href="/" class="no-underline text-black font-bold">Inicio</a></li>
    <li><a href="/products" class="no-underline text-black font-bold">Productos</a></li>
    <li><a href="/contact" class="no-underline text-black font-bold">Contacto</a></li>
  </ul>
</nav>
