<nav class="bg-white p-2 py-4 fixed top-11 w-full shadow-lg">
    <div class="w-full px-24 mx-auto flex justify-between items-center">
        <div class="">
            <img src="logo.png" class="flex h-10" alt="">
          </div>
          
        <div class="hidden md:block">
            <ul class="flex space-x-16 text-lg font-normal">
                <li><a href="/" class="text-[#8e1922]">Nosotros</a></li>
                <li><a href="/acerca" class="text-[#8e1922]">Acedemico</a></li>
                <li><a href="/servicios" class="text-[#8e1922]">Admiciones</a></li>
                <li class="relative w-[115px] text-center">
                    <a href="/contacto" class="text-[#8e1922]">Contactanos</a>

                <span class="absolute -bottom-4 text-[11px] w- left-0">Tu opinion nos importa</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
