<aside class="border-r-[1px] p-4 w-[300px] flex flex-col items-end fixed left-0 z-10">
    <ul class="space-y-4">
      <li class="flex justify-end items-center">
        <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <use href="#icon-home"></use>
        </svg>
        <a href="/" class="text-[#8e1922]">Admisiones</a>
      </li>
      <li class="flex justify-end items-center">
        <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <use href="#icon-info-circle"></use>
        </svg>
        <a href="/acerca" class="text-[#8e1922]">Proceso De Admision</a>
      </li>
      <li class="flex justify-end items-center">
        <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <use href="#icon-cogs"></use>
        </svg>
        <a href="/servicios" class="text-[#8e1922]">Documentacion</a>
      </li>
      <li class="flex justify-end items-center">
        <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <use href="#icon-envelope"></use>
        </svg>
        <a href="/contacto" class="text-[#8e1922]">Beneficios y Descuentos</a>
      </li>
    </ul>
  </aside>
  